.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #423858;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 8px 8px 5px #0d294f;
  font-size: 5rem;
  color: #6ccbe8;
}

p {
  font-size: 2rem;
  color: #b7cc4e;
  font-family: 'Baloo Thambi 2', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.btn {
  padding: 22px;
  margin: 31px 0px 0px;
  /* border: 2px solid black; */
  border-radius: 18px;
  background-color: #b1cb4e;
  font-size: 1rem;
  font-family: 'Open Sans', sans-serif;
  box-shadow: 2px 2px 3px black;
}

.btn:hover{
  cursor: pointer;
}

.clicked{
  background-color: #b2cb4e9e;
  box-shadow: 0px 0px;
}
